.footer-container {
    // border: 1px solid red;
    background-color: #000000D9;
    width: 100%;
    height: 400px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 30px;
    padding-bottom: 20px;

    .content-up {
        margin-right: 35px;
        margin-left: 35px;
        height: 65%;
        border-bottom: 1px solid white;
        display: flex;

        .content {
            padding-top: 10px;
            // border: 1px solid forestgreen;
            width: 25%;

            label {
                font-size: 16px;
                margin-bottom: 16px;
                font-weight: bold;
            }

            li {
                font-size: 14px;
                padding-bottom: 5px;
                // background-color: #000000D9;

            }

            .p-address {
                font-size: 13px !important;
            }
        }
    }

    .content-down {
        height: 35%;
        padding-top: 15px;
        padding-right: 35px;
        padding-left: 35px;

        p {
            font-size: 12px;
        }

    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .footer-container {
        background-color: #000000D9;
        width: 100%;
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 10px;

        .content-up {
            margin-right: 50px;
            margin-left: 50px;
            height: 70%;
            border-bottom: 1px solid white;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;

            .content {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 50%;

                label {
                    font-size: 16px;
                    margin-bottom: 16px;
                    font-weight: bold;
                }

                li {
                    font-size: 14px;
                    padding-bottom: 5px;
                    // background-color: #000000D9;

                }

                .p-address {
                    font-size: 13px !important;
                }
            }
        }

        .content-down {
            height: 35%;
            padding-top: 15px;
            padding-right: 50px;
            padding-left: 50px;

            p {
                font-size: 12px;
            }

        }
    }
}


@media (min-width:320px) and (max-width: 767px) {
    .footer-container {
        background-color: #000000D9;
        width: 100%;
        height: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        .content-up {
            margin-right: 10px;
            margin-left: 10px;
            height: 70%;
            border-bottom: 1px solid white;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;

            .content {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;

                label {
                    font-size: 14px;
                    margin-bottom: 16px;
                    font-weight: bold;
                }

                li {
                    font-size: 12px;
                    padding-bottom: 5px;
                    // background-color: #000000D9;

                }

                .p-address {
                    font-size: 13px !important;
                }
            }
        }

        .content-down {
            height: 35%;
            padding-top: 15px;
            padding-right: 10px;
            padding-left: 10px;

            p {
                font-size: 12px;
            }

        }
    }
}